header{
    font-size: 15px;
    position: relative; 
    top: 0; 
    left: 0;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    background-color: beige;
}

footer{
    color:grey;
    text-align: center;
}
.center {
    text-align: center;
}

.custom1 {
    font-style: italic;
}

.custom2 {
    color: blue;
    font-size: 26px;
    position: absolute; 
    top: 0; 
    right: 0
}

.box {
    border: black 3px solid;
    padding: 20px;
    margin-bottom: 50px 70px 90px 120px;
}


