.centeredParagraph{
    text-align: center;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: black;
    background-color: lightgrey;
}

ul > li {
    font-style: italic;
}

ol > li{
    font-weight: bold;
}


.anchor{
    color: blue;
}

img {
   position: static;
   left: 20px;
   right: 20px;
   top: 0px
}

.outside {
    color:white
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
  .row::after {
    content: "";
    clear: both;
    display: table;
}

.sofun{
    color: blue
}